@model Post


<script src="https://cdn.tiny.cloud/1/l8rig6ghv6vl5ag739fxxt6xnhgt1htekk5htedo9be7jatq/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: '#mytextarea'
    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/exif-js/2.1.0/exif.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-load-image/2.12.2/load-image.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-load-image/2.12.2/load-image-scale.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-load-image/2.12.2/load-image-orientation.min.js"></script>

<h1>New post</h1>


<hr />
<div class="row">
    <div class="column">
        <form asp-controller="Post" asp-action="NewPost" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <label class="control-label mt-2">Image: </label>
            <div class="custom-file">
                @*<input type="file" class="custom-file-input" id="file-input" name="Image">
                    <label class="custom-file-label" for="file-input">Choose file</label>*@

                <input type="file" class="custom-file-input" id="inputGroupFile01" name="Image">
                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label mt-3"></label>
                <textarea name="Description" class="form-control" rows="10" id="mytextarea" placeholder="Enter content"></textarea>

                <span asp-validation-for="Description" class="text-danger"></span>
            </div>



            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-info" />
                <a asp-controller="Profile" asp-action="UserProfile" asp-route-id="2" class="btn  btn-outline-info ">Back</a>
            </div>
        </form>
    </div>
    
    <div class="column">
        <button id="rotate-button">Rotate</button>
        <div id="container2">

        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/exif-js/2.1.0/exif.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-load-image/2.12.2/load-image.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-load-image/2.12.2/load-image-scale.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-load-image/2.12.2/load-image-orientation.min.js"></script>

<!--<script src="~/js/blueimp-load-image/vendor/canvas-to-blob.js"></script>
<script src="~/js/blueimp-load-image/load-image.js"></script>
<script src="~/js/blueimp-load-image/load-image-scale.js"></script>
<script src="~/js/blueimp-load-image/load-image-meta.js"></script>
<script src="~/js/blueimp-load-image/load-image-fetch.js"></script>
<script src="~/js/blueimp-load-image/load-image-orientation.js"></script>
<script src="~/js/blueimp-load-image/load-image-exif.js"></script>
<script src="~/js/blueimp-load-image/load-image-exif-map.js"></script>
<script src="~/js/blueimp-load-image/load-image-iptc.js"></script>
<script src="~/js/blueimp-load-image/load-image-iptc-map.js"></script>-->
<!--
  jQuery and Jcrop are not required by JavaScript Load Image,
  but included for the demo
-->
<!--<script src="~/js/blueimp-load-image/vendor/jquery.js"></script>
<script src="~/js/blueimp-load-image/vendor/jquery.Jcrop.js"></script>
<script src="~/js/blueimp-load-image/demo/demo.js"></script>-->
