<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyIdentityService</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="~/vendor/plagins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="~/css/site.css" />
    <link type="text/css" href="~/css/my.css" rel="stylesheet" />
    <link type="text/css" href="~/css/app.css" rel="stylesheet" />
   

    

</head>
<body>
    <header>
        <!-- ==============================================
         Navigation Section
         =============================================== -->
        <nav class="navbar navbar-light navbar-toggleable-sm bg-faded justify-content-between navbar-expand-sm" id="mainNav-2">

            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"> MY SITE</a>
            <div class="navbar-collapse collapse justify-content-between">
                <div><!--placeholder to evenly space flexbox items and center links--></div>
                <ul class="navbar-nav">
                    <!-- Search in right of nav -->
                    <li class="nav-item hidden-xs-down">
                        <form class="top_search clearfix" asp-controller="Home" asp-action="Search">
                            <div class="top_search_con">
                                <input class="s" placeholder="Search Here ..." type="text" name="search">
                                <span class="top_search_icon"><i class="fas fa-search"></i></span>
                                <input class="top_search_submit" type="submit">
                            </div>
                        </form>
                    </li>
                    <!-- Search Ends -->
                </ul>


                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav">
                        <partial name="_LoginPartial" />
                    </ul>
                </div>


            </div><!-- /navbar-collapse -->
        </nav><!-- /nav -->
        
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="position:relative;">
        <div class="container">
            &copy; 2019 - MyIdentityService - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            <a id="scrollup">Scroll</a>
        </div>
    </footer>
    <a id="back-to-top" href="#" class="btn-light btn-lg back-to-top" role="button" data-toggle="tooltip" data-placement="left"><i class="fas fa-chevron-up"></i></a>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>
